/** Code By Webdevtrick ( https://webdevtrick.com ) **/
body {
    min-height: 100vh;
    padding-top: 100px;
    background: #e8eaed;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
  }
  
  .info {
    font-size: 0.9rem;
    text-align: left;
  }
  h1 {
    font-weight: 500;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-size: 1.1rem;
    text-align: center;
  }
  h2 {
      font-weight: 300; 
      font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  .title-section {
    background: blue;
    padding: 2px 10px;
    color: white;
  }
  
  .inner-section {
    position: relative;
    width: 80%;
    padding: 30px;
  }
  .wrapper {
    overflow: hidden;
    margin: auto;
    width: 90%;
    max-width: 380px;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: column wrap;
  }
  .wrapper .password-section {
    position: relative;
    border: 2px solid lightgray;
    color: gray;
    margin-top: 20px;
    padding: 2px 2px 2px 8px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .wrapper .password-section .alert {
    position: absolute;
    padding: 0 5px;
    border-radius: 2px;
    width: 21ch;
    height: 89%;
    left: 2px;
    top: -100%;
    width: 96%;
    text-align: center;
    color: #333;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .wrapper .password-section .alert.success {
    background: rgb(29,161,242, 0.9);
    opacity: 1;
  }
  .wrapper .password-section .alert.fail {
    background: rgb(230,0,35, 0.9);
    color: white;
    opacity: 1;
  }
  .wrapper .password-section .copy {
    height: 100%;
    width: 50px;
    background: #e60023;
    border: 0;
    color: white;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  .wrapper .password-section .pass-field {
    overflow: hidden;
  }
  .wrapper .password-section .copy:hover {
    background: #ff7a00;
  }
  .wrapper .controls {
    text-align: left;
    display: flex;
    flex-flow: column wrap;
  }
  .wrapper .controls .control {
    padding: 3px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 2px;
  }
  .wrapper .controls .generate {
    width: 100%;
    border: 0;
    color: white;
    background: blue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: all 0.3s ease;
  }
  .wrapper .controls .generate:hover {
    background: #ff7a00;
  }
  
  #length-box {
    width: 100%;
  }
  #length-box input {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type="checkbox"] {
    visibility: hidden;
  }
  label.check-label {
    position: relative;
  }
  label.check-label:before {
    content: "";
    height: 1rem;
    width: 1rem;
    left: -24px;
    top: 0;
    border: 0.5px solid lightgray;
    position: absolute;
    background: transparent;
    transition: all 0.3s cubic-bezier(0, 0.82, 1, 1.81);
  }
  input[type="checkbox"]:checked + label.check-label:before {
    content: "";
    font-family: "FontAwesome";
    font-size: 0.8rem;
    color: #212121;
    text-align: center;
    background: #00e676;
    transition: all 0.3s cubic-bezier(0, 0.82, 1, 1.81);
  }